.wrapper {
    display: grid;
    grid-template-columns: 12% 30% 16% 30% 12%;
  }

#kol1, #kol2, #kol3 {
    width: 50%;
    margin: 0 auto;
}

.troops, .civ {
    border: 1px solid black;
}

.wrapperInside2 {
    display: grid;
    grid-template-columns: 50% 25% 25%;
  }

  #inside2kol1, #inside2kol2{
    width: 100%;
    margin: 0 0;
}

#civsEnemy, #civsPlayer {
    width: 100%;
}